.navbar {
    width: 100%;
    min-height: 60px;
    background-image: url("../../assets/bg-navbar.png");
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logotipo {
    max-width: 120px;
    height: auto;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #d24434;
}

.btn-red {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #d24434;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: #b12f20;
}

.icon {
    width: 20px;
    height: 20px;
}
